html {
  --header-bg-color: rgb(217, 217, 217);
  --border-color: #b6b6b6;
  --item-bg-color: #ffffff;
  --body-bg-color: #ececec;
}

body {
  font-family: 'Rubik', Arial, sans-serif;
  background-color: var(--body-bg-color);
}

header {
  height: 20%;
  background-color: var(--header-bg-color);
}

.firebaseui-idp-button {
  border-radius: 100px !important;
}

.pixel {
  font-family: 'Silkscreen', monospace;
}

.signin-box {
  padding: 30px;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.today {
  font-size: 2rem;
  font-weight: bold;
}

main {
  height: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
}

main > div {
  /* border: 1px solid black; */
  margin: 50px;
}

.current-task {
  background-color: var(--item-bg-color);
  /* height: 150px; */
  border-radius: 0.75rem;
  padding: 10px 20px 20px;
  border: 1px solid var(--border-color);
}

.current-task-title {
  font-size: 1.75rem;
  font-weight: 400;
}

.current-task-time {
  font-size: 1.75rem;
}

.task-list {
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  padding: 10px 20px 20px;
  background-color: var(--item-bg-color);
}

.spotify-player {
  border-radius: 0.75rem;
  height: 354px;
  border: 1px solid var(--border-color);
  /* overflow: hidden; */
}